<div id="phone" class="s_item">

  <h1>
    <span>Apple iPhone 7</span>


    <div class="right">
                    <span class="s_button_follow_special" style="display: block">
                        <a href="javascript:;" style="display: block" onclick="subscribe(this, 1, 9815, '', 2);" class="follow_1_9815 s_button_2 s_button_follow" title="Follow Apple iPhone 7">Follow</a>

                    </span>
      <a href="javascript:;" style="display: none" onclick="subscribe(this, 1, 9815);" class="unfollow_1_9815 s_button_2 s_button_follow_disabled s_button_following" title="Unfollow Apple iPhone 7">Following</a>
    </div>
    <div class="clear"></div>
  </h1>

  <span class="clear"></span>

  <div class="phonetabs"><div class="s_tabs s_tabs_s_size_2">
    <ul class="clearfix">
      <li class="selected"><a href="/phones/Apple-iPhone-7_id9815">Specs</a></li>

      <li><a href="/phones/Apple-iPhone-7_id9815/rivals">Rivals</a></li>

      <li><a href="/phones/Apple-iPhone-7_id9815/reviews">Reviews <small>(17)</small></a></li>

      <li><a href="/phones/Apple-iPhone-7_id9815/news">News <small>(447)</small></a></li>



      <li><a href="/phones/Apple-iPhone-7_id9815/size">Size</a></li>

      <li><a href="/phones/Apple-iPhone-7_id9815/360">360 °</a></li>

      <li><a href="/phones/Apple-iPhone-7_id9815/benchmarks">Benchmarks</a></li>

      <li><a href="/phones/Apple-iPhone-7_id9815/videos">Video</a></li>

      <li><a href="/phones/Apple-iPhone-7_id9815/photos">Pics</a></li>

      <li><a href="/phones/Apple-iPhone-7_id9815/price">Price</a></li>
      <li class="moreon"><a href="javascript:;"><img src="//s-cdn.phonearena.com/images/more.jpg" alt="more"></a>
        <div class="specspop" style="display: none;">
          <a href="/phones/Apple-iPhone-7_id9815/discussions">Discuss <small>(3)</small></a>

          <a class="disabled">Manual</a>
        </div></li>
    </ul>
  </div></div>

  <span class="clear"></span>


  <span class="clear"></span>




  <div class="quicklook">

    <a class="lead" href="https://i-cdn.phonearena.com/images/phones/63258-xlarge/Apple-iPhone-7.jpg" onclick="window.location.href = '/phones/Apple-iPhone-7_id9815/photos?image=63258'; return false;">
      <span></span><img src="https://i-cdn.phonearena.com/images/phones/63258-specs/Apple-iPhone-7.jpg" alt="Apple iPhone 7">
    </a>
    <div class="quicklookdiv nolinks">
      <div class="bottom-line">
        <div class="specsicons display" data-scroll-to="#display_cPoint" style="cursor: pointer;">4.7"<br><span>750 x 1334 pixels</span></div>
        <div class="specsicons camera" data-scroll-to="#camera_cPoint" style="cursor: pointer;">
          12 MP<br>
          <span>7 MP front</span>            </div>
        <div class="specsicons cpu" data-scroll-to="#hardware_cPoint" style="cursor: pointer;">Apple A10 Fusion<br>
          <span>Quad-core, 2340 MHz</span>
        </div>
        <div class="clearfix"></div></div>
      <div class="morespecs">
        <span data-scroll-to="#hardware_cPoint" style="cursor: pointer;">RAM: <span>2 GB</span></span><br>

        <span data-scroll-to="#hardware_cPoint" style="cursor: pointer;">MEMORY: <span>256 GB</span></span><br>

        <span data-scroll-to="#battery_cPoint" style="cursor: pointer;">BATTERY: <span>1960 mAh</span>
            <span>(14h 3G talk time)</span>            </span>

      </div>
      <div class="metainfo">
        Announced: Sep  7, 2016        <br>

        <!-- market status -->
        Market status: <span class="metacolor_2">Released</span>
        <br>


        Release date: Sep 16, 2016<br>
      </div>
      <div class="clearfix"></div>
      <div class="features">
        <span class="head">Features:</span>
        <span class="active" title="" data-scroll-to="#design_cPoint" data-scroll-to-highlight=".field-490" style="cursor: pointer;">Fingerprint</span>
        <span class="active" title="" data-scroll-to="#design_cPoint" data-scroll-to-highlight=".field-166" style="cursor: pointer;">Lightweight</span>
        <span class="active" title="" data-scroll-to="#design_cPoint" data-scroll-to-highlight=".field-6" style="cursor: pointer;">Thin</span>
        <span class="active" title="" data-scroll-to="#cellular_cPoint" style="cursor: pointer;">LTE</span>
        <span class="active" title="" data-scroll-to="#design_cPoint" data-scroll-to-highlight=".field-312" style="cursor: pointer;">Rugged</span>
        <span class="active" title="" data-scroll-to="#connectivity_cPoint" style="cursor: pointer;">NFC</span>
        <span class="inactive" title="" data-scroll-to="#cellular_cPoint" data-scroll-to-highlight=".field-308">Dual SIM</span>
      </div>
    </div>


    <script type="text/javascript">
      $(function(){
        $('[data-scroll-to]').each(function(){
          if($(this).is('.inactive[data-scroll-to-highlight]') || $(this).is('.inactive'))
            return;
          var _this = this;
          if($(this).data('autoScroll') != true && $($(this).data('scroll-to')).length){
            $(this).css({cursor: 'pointer'}).click(function(){
              if($(this).hasClass('alternative')){
                $('html, body').animate({
                  scrollTop: $('#allvariants').offset().top
                }, 500);
              }else{
                $('html, body').animate({
                  scrollTop: $($(this).data('scroll-to')).offset().top
                }, 500, function(){
                  if($(_this).is('[data-scroll-to-highlight]') && $($(_this).data('scroll-to-highlight')).length){
                    $($(_this).data('scroll-to-highlight')).css({ background: '#FFFCE0'});
                    setTimeout(function(){
                      $($(_this).data('scroll-to-highlight')).css({ background: ''});
                    }, 2000);
                  }
                });
              }
            });
            $(this).data('autoScroll', true);
          }
        });
      });
    </script>


    <script type="text/javascript">
      $('.quicklookdiv .features .alternative').tooltip({
        track: true,
        delay: 0,
        extraClass: "s_popup_1 s_popup_1_yellow_1 s_f_11 s_p_10",
        showURL: false,
        fade: 250
      });
    </script>
    <div class="clearfix"></div>

  </div>


  <div class="leftspecscol">
    <div class="lcimg">

      <a class="pics" href="https://i-cdn.phonearena.com/images/phones/63259-xlarge/Apple-iPhone-7-2.jpg" onclick="window.location.href='/phones/Apple-iPhone-7_id9815/photos?image=63259'; return false;"><span></span><img src="https://i-cdn.phonearena.com/images/phones/63259-thumb/Apple-iPhone-7-2.jpg" width="75"></a>
      <a class="pics" href="https://i-cdn.phonearena.com/images/phones/63260-xlarge/Apple-iPhone-7-3.jpg" onclick="window.location.href='/phones/Apple-iPhone-7_id9815/photos?image=63260'; return false;"><span></span><img src="https://i-cdn.phonearena.com/images/phones/63260-thumb/Apple-iPhone-7-3.jpg" width="75"></a>
      <a class="pics" href="https://i-cdn.phonearena.com/images/phones/63261-xlarge/Apple-iPhone-7-4.jpg" onclick="window.location.href='/phones/Apple-iPhone-7_id9815/photos?image=63261'; return false;"><span></span><img src="https://i-cdn.phonearena.com/images/phones/63261-thumb/Apple-iPhone-7-4.jpg" width="75"></a>
      <a class="viewall" href="/phones/Apple-iPhone-7_id9815/photos">View all photos                        <span>(66)</span></a>
      <div class="clearfix"></div>
    </div><!-- photos -->






    <div class="carriers">
      <h2>US carrier availability</h2>

      <span class="title">Available:</span> <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/Verizon">Verizon</a>, <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/AT&amp;T">AT&amp;T</a>, <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/Sprint">Sprint</a>, <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/T-Mobile">T-Mobile</a>, <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/MetroPCS">MetroPCS</a>, <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/U.S.-Cellular">U.S. Cellular</a>, <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/Cricket">Cricket</a>, <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/Virgin-Mobile">Virgin Mobile</a>, <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/Boost-Mobile">Boost Mobile</a>, <a class=" tooltip" onclick="ga('send', 'event', 'Specs', 'Click Carrier Availability Link');" href="/phones/carriers/Xfinity-Mobile">Xfinity Mobile</a>
    </div>


    <span>
                </span>


    <div class="rating pro">
      <a href="/reviews/Apple-iPhone-7-Review_id4257" class="parating">
        <div class="s_rating_box s_rating_block s_pa_rating s_m_auto">
          <!--<span class="s_icon"></span>-->
          <div class="whosrating">PhoneArena rating:</div>
          <span class="s_rating_summary">
                   <!-- <span class="s_rating_value">Excellent</span>-->
                    <span class="s_rating_overal">9.3</span>
            <!--<span class="s_rating_full">out of 10</span>-->
                  </span>
          <span class="s_rating_bar"><span style="width: 93%" class="topgreen"></span></span>
          <span class="s_total_votes">Click to read the full review</span>
        </div>
      </a>
      <div class="clearfix"></div>
    </div>



    <div class="rating">
      <a href="/phones/Apple-iPhone-7_id9815/reviews" class="parating">
        <div class="s_rating_box s_rating_block s_pa_rating s_m_auto">
          <!--<span class="s_icon"></span>-->
          <div class="whosrating">User rating:</div>
          <span class="s_rating_summary">
                   <!-- <span class="s_rating_value">Good</span>-->
                    <span class="s_rating_overal">7.6</span>
            <!--<span class="s_rating_full">out of 10</span>-->
                  </span>
          <span class="s_rating_bar"><span style="width: 76%" class="yellow"></span></span>
          <span class="s_total_votes">Based on <span>17                            </span> User reviews</span>
        </div>
      </a>

      <!--<a href="/phones/Apple-iPhone-7_id9815/reviews" class="parating">
<span class="usrat"></span><span class="ratingbg"><span class="ratingbg-hover yellow" style="width: 76%;"></span>&nbsp;</span>
<span class="rating-flag" itemprop="average">7.6</span><span class="parattext">User reviews</span></a>-->
      <div class="clearfix"></div>
    </div><!--RATIGNS-->


    <div class="proscons">
      <h2>Pros</h2>
      <ul class="s_pros_list">
        <li>Water-resistant phone</li>
        <li>Lightweight phone </li>
        <li>Small dimensions <span class="gray_9">(5.44 x 2.64 x 0.28 inches)</span></li>
        <li>Thin body, measuring less than 7.5mm/0.3inches <span class="gray_9">(0.28 inches)</span></li>
      </ul>

      <h2>Cons</h2>
      <ul class="s_cons_list">
        <li>Lacks microSD slot for storage expansion</li>
        <li>Proprietary USB connector</li>
      </ul>

      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>


    <div id="phone_share" class="">
      <h3>Share</h3>
      <div class="s_fb_like_button s_button s_mb_5">
        <fb:like layout="box_count" href="https://www.phonearena.com/phones/Apple-iPhone-7_id9815" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=152451818130304&amp;container_width=0&amp;href=https%3A%2F%2Fwww.phonearena.com%2Fphones%2FApple-iPhone-7_id9815&amp;layout=box_count&amp;locale=en_US&amp;sdk=joey"><span style="vertical-align: bottom; width: 51px; height: 40px;"><iframe name="fbcce6b1e36408" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v1.0/plugins/like.php?app_id=152451818130304&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FlY4eZXm_YWu.js%3Fversion%3D42%23cb%3Df15c81328b1850e%26domain%3Dwww.phonearena.com%26origin%3Dhttps%253A%252F%252Fwww.phonearena.com%252Ff136ccbb3dc5582%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.phonearena.com%2Fphones%2FApple-iPhone-7_id9815&amp;layout=box_count&amp;locale=en_US&amp;sdk=joey" class="" style="border: none; visibility: visible; width: 51px; height: 40px;"></iframe></span></fb:like>
      </div>
      <div class="s_tweet_button s_button s_mb_5">
        <a href="http://twitter.com/share" class="twitter-share-button twitter-share-button-error" data-count="vertical" data-via="phonearena" data-url="https://www.phonearena.com/phones/Apple-iPhone-7_id9815" data-twitter-extracted-i1514763407770983677="true">Tweet</a>
      </div>

      <div class="s_button s_mb_5">
        <div id="___plusone_0" style="position: absolute; width: 450px; left: -10000px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: absolute; top: -10000px; width: 450px; margin: 0px; border-style: none; display: none !important; visibility: hidden !important; opacity: 0 !important;" tabindex="0" vspace="0" width="0" id="I0_1514763408423" name="I0_1514763408423" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=tall&amp;hl=en&amp;origin=https%3A%2F%2Fwww.phonearena.com&amp;url=https%3A%2F%2Fwww.phonearena.com%2Fphones%2FApple-iPhone-7_id9815&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.ru.KhsbD6gKeOs.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCOvdxXMNf1N5Zs9J73uIcjOZ5Q6RQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1514763408423&amp;_gfid=I0_1514763408423&amp;parent=https%3A%2F%2Fwww.phonearena.com&amp;pfname=&amp;rpctoken=81934959" height="0" data-gapiattached="true"></iframe></div><g:plusone size="tall" href="https://www.phonearena.com/phones/Apple-iPhone-7_id9815" data-gapiscan="true" data-onload="true" data-gapistub="true"></g:plusone>
      </div>


      <div class="embed_share s_button">
        <span>embed</span>
      </div>
      <div class="clearfix"></div>
    </div> <!-- /phone_share -->

    <div class="clearfix"></div>
    <div class="embed_box s_p_5 s_mb_10"></div>


    <div class="clearfix"></div>


    <br>
    <h3>Description</h3>
    <div class="desc">The iPhone 7 is the successor to the highly acclaimed iPhone 6s. As such, it brings a multitude of enhancements in key areas, including design, performance, and user experience. While the overall shape and size of the phone have been left intact, there are now glossy and matte black options available. Also, the handset is now IP67-certified, making it water-resistant. On its back, the refined 12MP camera features optical image stabilization, wider aperture of F1.8, and a quad LED TrueTone flash for better low-light performance. Battery life has been given a welcome boost that could provide users around 2 hours of additional use time. The new A10 Fusion chip is up to 40% more powerful than last-year's A9, yet promises great power efficiency. And while the iPhone 7 lacks an audio jack, the box includes Lightning connector EarPods, as well as a Lightning to 3.5mm adapter.</div>

    <div id="have_it" class="">
      <h3>Do you ...?</h3><br>
      <div class="wantitbtn">
        <a class="number ajaxify_whh" data-action="want" data-id="9815" href="#">18</a>
        <a class="click ajaxify_whh" data-action="want" data-id="9815" href="#">Want it</a>
      </div>
      <div class="haveitbtn">
        <a class="number ajaxify_whh" data-action="have" data-id="9815" href="#">42</a>
        <a class="click ajaxify_whh" data-action="have" data-id="9815" href="#">Have it</a></div>
      <div class="haditbtn">
        <a class="number ajaxify_whh" data-action="had" data-id="9815" href="#">15</a>
        <a class="click ajaxify_whh" data-action="had" data-id="9815" href="#">Had it</a></div>
      <div class="clearfix"></div>
    </div>
    <br>

    <div class="clearfix"></div>
    <br>
    <div id="links">


      <h3>Links</h3>
      <a class="s_bullet_article" href="http://www.phonearena.com/reviews/Samsung-Galaxy-S8-vs-Apple-iPhone-7_id4335">Samsung Galaxy S8 vs Apple iPhone 7</a><a class="s_bullet_article" href="http://www.phonearena.com/reviews/Google-Pixel-vs-Apple-iPhone-7_id4272">Google Pixel vs Apple iPhone 7</a><a class="s_bullet_article" href="http://www.phonearena.com/reviews/Apple-iPhone-7-vs-LG-G5_id4268">Apple iPhone 7 vs LG G5</a><a class="s_bullet_article" href="http://www.phonearena.com/reviews/Apple-iPhone-7-vs-HTC-10_id4265">Apple iPhone 7 vs HTC 10</a><a class="s_bullet_article" href="http://www.phonearena.com/reviews/Apple-iPhone-7-vs-Samsung-Galaxy-S7_id4259">Apple iPhone 7 vs Samsung Galaxy S7</a><a style="display:none;" class="s_bullet_article" href="http://www.phonearena.com/reviews/Apple-iPhone-7-Review_id4257">Apple iPhone 7 Review</a><a style="display:none;" class="s_bullet_1_red" href="/phones/Apple-iPhone-7_id9815/benchmarks">Apple iPhone 7 benchmarks</a>
      <a href="#" onclick="$('#links a').show(); $(this).hide(); return false;" class="morelinks">Show
        more links</a>
    </div>


  </div> <!-- leftspecscol -->

  <div class="rightspecscol">


    <div id="phone_specificatons">

      <div class=" clear specs-holder"><a class="comparebutton" href="/phones/compare//phones/9815">Compare</a><div class="s_specs_box s_box_4" id="design_cPoint"><h2 class="htitle">Design</h2><ul><li class="s_lv_1 field-53"><strong class=" s_lv_1 ">Device type:</strong><ul class=" s_lv_1 "><li>Smart phone</li></ul>
      </li><li class="s_lv_1 field-119"><strong class=" s_lv_1 ">OS:</strong><ul class=" s_lv_1 "><li><a href="javascript:;" onclick="showSpecsGal(&quot;ui&quot;)" class="floatright specspop tooltip"><img src="//s-cdn.phonearena.com/images/galleryicon.png" alt="Popup" align="right"></a>iOS (10.x)</li></ul>
      </li><li class="s_lv_1 field-6"><strong class=" s_lv_1 ">Dimensions:</strong><ul class=" s_lv_1 "><li><span title="Average Dimensions" class="s_size_rating s_size_rating_s2 s_mr_5"><span></span></span>5.44 x 2.64 x 0.28 inches  (138.3 x 67.1 x 7.1 mm)</li></ul>
      </li><li class="s_lv_1 field-166"><strong class=" s_lv_1 ">Weight:</strong><ul class=" s_lv_1 "><li><span title="Average Weight. The average weight is: 5.5 oz (158 g)." class="s_weight_rating s_weight_rating_s2 s_mr_5"><span></span></span>4.87 oz  (138 g)<br><span class="s_f_11 gray_9">the <span class="s_tooltip_info blue_1 tooltip">average</span> is 5.5 oz (158 g)</span></li></ul>
      </li><li class="s_lv_1 field-557"><strong class=" s_lv_1 ">Materials:</strong><ul class=" s_lv_1 "><li>Main body: Aluminum</li></ul>
      </li><li class="s_lv_1 field-490"><strong class=" s_lv_1 ">Features:</strong><ul class=" s_lv_1 "><li>Fingerprint (touch)</li></ul>
      </li><li class="s_lv_1 field-312"><strong class=" s_lv_1 ">Rugged:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li>Water, Dust resistant</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 "><span class="s_tooltip_anchor">IP certified:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>IP certified</b> - The IP code indicates the degree of protection against dust and water. The first number represents dust protection, while the second represents water protection. In IP67, for example, 6 means a completely dust-tight device, while 7 means the device can stay immersed in up to 1 meter of water for up to 30 minutes. In IP68, a higher level of water protection is expected, but exact numbers aren't specified: both depth and continuance are specified by the manufacturer on per device basis.</p></span></strong><ul class=" s_lv_2 "><li>IP 67</li></ul>
      </li>
      </ul></li><li class="s_lv_1 field-288"><strong class=" s_lv_1 ">Colors:</strong><ul class=" s_lv_1 "><li>Black, Gold, Silver, Pink, Red</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4" id="display_cPoint"><h2 class="htitle">Display<a href="/phones/Apple-iPhone-7_id9815/benchmarks#Display" class="floatright tooltip"><img src="//s-cdn.phonearena.com/images/benchicon.png" alt="benchmark" align="right" style="margin-top: -2px;"></a> </h2><ul><li class="s_lv_1 field-253"><strong class=" s_lv_1 ">Physical size:</strong><ul class=" s_lv_1 "><li><span title="Average display" class="s_resolution_rating s_resolution_rating_s2 s_mr_5"><span></span></span>4.7 inches</li></ul>
      </li><li class="s_lv_1 field-12"><strong class=" s_lv_1 ">Resolution:</strong><ul class=" s_lv_1 "><li><span title="Low resolution" class="s_display_rating s_display_rating_s3 s_mr_5"><span></span></span>750 x  1334 pixels</li></ul>
      </li><li class="s_lv_1 field-500"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Pixel density:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Pixel density</b> - The pixel density of a display represents the number of pixels over an area of one inch. It’s measured in “pixels per inch”, or ppi. The higher the number, the more detailed and good-looking the display is.</p></span></strong><ul class=" s_lv_1 "><li><span title="Medium pixel density" class="s_pixel_density_rating s_pixel_density_rating_s2 s_mr_5"><span></span></span>326 ppi</li></ul>
      </li><li class="s_lv_1 field-195"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Technology:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Technology</b> - There are two main screen technologies currently used in phones and tablets: LCD and AMOLED. The former usually features a light source and liquid crystals, while the latter is based on organic light-emitting diodes.

Newer LCD variations like IPS-LCD and Super-LCD allow for very accurate color reproduction and very wide viewing angles, where no significant image quality loss is observed.

Current AMOLED screens differ in such a way that they can exhibit much more saturated colors (sometimes too much) and incredibly high contrast levels, which is due to black color being completely black in AMOLED displays.</p></span></strong><ul class=" s_lv_1 "><li>IPS LCD</li></ul>
      </li><li class="s_lv_1 field-552"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Screen-to-body ratio:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Screen-to-body ratio</b> - Shows what part of the frontal area of a phone its screen occupies.</p></span></strong><ul class=" s_lv_1 "><li>65.71 %</li></ul>
      </li><li class="s_lv_1 field-527"><strong class=" s_lv_1 ">Peak brightness:</strong><ul class=" s_lv_1 "><li>625 cd/m2 (nit)</li></ul>
      </li><li class="s_lv_1 field-492"><strong class=" s_lv_1 ">Features:</strong><ul class=" s_lv_1 "><li>Pressure-sensitive, Oleophobic coating, Scratch-resistant glass, Ambient light sensor, Proximity sensor</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4" id="camera_cPoint"><h2 class="htitle">Camera<a href="/phones/Apple-iPhone-7_id9815/benchmarks#Camera" class="floatright tooltip"><img src="//s-cdn.phonearena.com/images/benchicon.png" alt="benchmark" align="right" style="margin-top: -2px;"></a> </h2><ul><li class="s_lv_1 field-77"><strong class=" s_lv_1 ">Camera:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li><a href="javascript:;" onclick="showSpecsGal(&quot;samples&quot;)" class="floatright specspop tooltip"><img src="//s-cdn.phonearena.com/images/galleryicon.png" alt="Popup" align="right"></a><span title="High camera resolution" class="s_camera_rating s_camera_rating_s1 s_mr_5"><span></span></span>12 megapixels</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Flash:</strong><ul class=" s_lv_2 "><li>Quad LED</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 "><span class="s_tooltip_anchor">Aperture size:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Aperture size</b> - The aperture of a camera is the opening through which light travels before it reaches the camera sensor. The smaller the number is, the bigger this opening is, allowing for more light to pass.</p></span></strong><ul class=" s_lv_2 "><li>F1.8</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 "><span class="s_tooltip_anchor">Focal length (35mm equivalent):</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Focal length (35mm equivalent)</b> - The lower (shorter) the focal length number, the wider the shot will be. Conversely, longer focal length cameras produce narrower frames, which can be used for telephoto (zoomed-in) purposes.</p></span></strong><ul class=" s_lv_2 "><li>28 mm</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 "><span class="s_tooltip_anchor">Camera sensor size:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Camera sensor size</b> - A bigger camera sensor is able to capture more light, and thus produce better photos.</p></span></strong><ul class=" s_lv_2 "><li>1/3"</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 "><span class="s_tooltip_anchor">Pixel size:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Pixel size</b> - The size of an individual pixel on a camera's sensor. The bigger, the better.</p></span></strong><ul class=" s_lv_2 "><li>1.22 μm</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Hardware Features:</strong><ul class=" s_lv_2 "><li>Sapphire crystal lens cover, Optical image stabilization, Autofocus, Back-illuminated sensor (BSI)</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Software Features:</strong><ul class=" s_lv_2 "><li>RAW image capture, Touch to focus, Face detection, Self-timer, Digital zoom, Geo tagging</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Settings:</strong><ul class=" s_lv_2 "><li>Exposure compensation</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Shooting Modes:</strong><ul class=" s_lv_2 "><li><a href="javascript:;" onclick="showSpecsGal(&quot;camera&quot;)" class="floatright specspop tooltip"><img src="//s-cdn.phonearena.com/images/galleryicon.png" alt="Popup" align="right"></a>Burst mode, High Dynamic Range mode (HDR), Panorama (up to 63 megapixels)</li></ul>
      </li>
      </ul></li><li class="s_lv_1 field-376"><strong class=" s_lv_1 ">Camcorder:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li>3840x2160 (4K) (30 fps), 1920x1080 (1080p HD) (120 fps), 1280x720 (720p HD) (240 fps)</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Features:</strong><ul class=" s_lv_2 "><li>Optical image stabilization, Time-lapse video, Continuous autofocus, Video calling, Video sharing</li></ul>
      </li>
      </ul></li><li class="s_lv_1 field-377"><strong class=" s_lv_1 ">Front-facing camera:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li>7 megapixels</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Features:</strong><ul class=" s_lv_2 "><li>High Dynamic Range mode (HDR)</li></ul>
      </li>
      </ul></li></ul>
      </div><div class="s_specs_box s_box_4" id="hardware_cPoint"><h2 class="htitle">Hardware<a href="/phones/Apple-iPhone-7_id9815/benchmarks#Hardware" class="floatright tooltip"><img src="//s-cdn.phonearena.com/images/benchicon.png" alt="benchmark" align="right" style="margin-top: -2px;"></a> </h2><ul><li class="s_lv_1 field-573"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">System chip:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>System chip</b> - Most modern handsets use an advanced chip that includes many of the device’s hardware modules like the processor, Wi-Fi, Bluetooth and sometimes even the wireless radio. This field shows what particular system chip (or System-on-a-Chip) is used in the phone.</p></span></strong><ul class=" s_lv_1 "><li>Apple A10 Fusion APL1W24</li></ul>
      </li><li class="s_lv_1 field-351"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Processor:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Processor</b> - The processor is the main computing component of a phone and is a major factor when it comes to the overall speed of the device. Some more powerful smartphones use dual-core and quad-core processors designed to deliver greater performance.</p></span></strong><ul class=" s_lv_1 "><li><span title="Fast processor" class="s_cpu_rating s_cpu_rating_s1 s_mr_5"><span></span></span>Quad-core, 2340 MHz, 64-bit, 16 nm</li></ul>
      </li><li class="s_lv_1 field-353"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Graphics processor:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Graphics processor</b> - The graphics processor is important for the smooth operation of the system and especially in games and other applications that may involve complex graphics and animations.</p></span></strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li>PowerVR 7XT GT7600 Plus</li></ul>
        </li>
      </ul></li><li class="s_lv_1 field-122"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">System memory:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>System memory</b> - System memory, or RAM memory is the type of memory that the device uses to temporarily store data from the OS or currently-running apps. The more RAM available to the device, the better the performance will be when multiple or heavier programs are running.</p></span></strong><ul class=" s_lv_1 "><li><span title="Average amount of RAM memory" class="s_ram_rating s_ram_rating_s2 s_mr_5"><span></span></span>2 GB RAM</li></ul>
      </li><li class="s_lv_1 field-204"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Built-in storage:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Built-in storage</b> - Bigger storage capacity allows you to keep more content saved onto your device, such as more applications, photos or video. Games and video content typically take up the biggest amount of storage space.</p></span></strong><ul class=" s_lv_1 "><li class="hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a>256 GB</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4" id="battery_cPoint"><h2 class="htitle">Battery<a href="/phones/Apple-iPhone-7_id9815/benchmarks#Battery" class="floatright tooltip"><img src="//s-cdn.phonearena.com/images/benchicon.png" alt="benchmark" align="right" style="margin-top: -2px;"></a> </h2><ul><li class="s_lv_1 field-55"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Capacity:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Capacity</b> - The bigger, the better! However, battery capacity is not the only factor that has an effect on battery life. Those include the chipset in use, the software running on the device, as well as the consumer's unique usage pattern.</p></span></strong><ul class=" s_lv_1 "><li>1960 mAh</li></ul>
      </li><li class="s_lv_1 field-577"><strong class=" s_lv_1 ">Type:</strong><ul class=" s_lv_1 "><li>Not user replaceable, Li - Ion</li></ul>
      </li><li class="s_lv_1 field-291"><strong class=" s_lv_1 ">Talk time (3G):</strong><ul class=" s_lv_1 "><li><span title="Short Talk time (3G). The average talk time (3G) is: 18 hours (1095 mins)." class="s_battery_rating s_battery_rating_s3 s_mr_5"><span></span></span>14.00 hours<br><span class="s_f_11 gray_9">the <span class="s_tooltip_info blue_1 tooltip">average</span> is 18 h (1095 min)</span></li></ul>
      </li><li class="s_lv_1 field-506"><strong class=" s_lv_1 ">Stand-by time (3G):</strong><ul class=" s_lv_1 "><li><span title="Short Stand-by time (3G). The average stand-by time (3G) is: 23 days (559 hours)." class="s_battery_rating s_battery_rating_s3 s_mr_5"><span></span></span>10.0 days (240 hours)<br><span class="s_f_11 gray_9">the <span class="s_tooltip_info blue_1 tooltip">average</span> is 23 days (559 h)</span></li></ul>
      </li><li class="s_lv_1 field-571"><strong class=" s_lv_1 ">Internet use:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">3G:</strong><ul class=" s_lv_2 "><li>12 hours</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">LTE:</strong><ul class=" s_lv_2 "><li>12 hours</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Wi-Fi:</strong><ul class=" s_lv_2 "><li>14 hours</li></ul>
      </li>
      </ul></li><li class="s_lv_1 field-294"><strong class=" s_lv_1 ">Music playback:</strong><ul class=" s_lv_1 "><li>40.00 hours</li></ul>
      </li><li class="s_lv_1 field-295"><strong class=" s_lv_1 ">Video playback:</strong><ul class=" s_lv_1 "><li>13.00 hours</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4"><h2 class="htitle">Multimedia<a href="javascript:;" onclick="showSpecsGal(&quot;multimedia&quot;)" class="floatright tooltip"><img src="//s-cdn.phonearena.com/images/galleryicon.png" alt="Popup" align="right" style="margin-top: -3px; margin-left: 7px;"></a><a href="/phones/Apple-iPhone-7_id9815/benchmarks#Multimedia" class="floatright tooltip"><img src="//s-cdn.phonearena.com/images/benchicon.png" alt="benchmark" align="right" style="margin-top: -2px;"></a> </h2><ul><li class="s_lv_1 field-181"><strong class=" s_lv_1 ">Music player:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Filter by:</strong><ul class=" s_lv_2 "><li>Album, Artist, Genre, Playlists</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Features:</strong><ul class=" s_lv_2 "><li>Album art cover, Background playback</li></ul>
      </li>
      </ul></li><li class="s_lv_1 field-394"><strong class=" s_lv_1 ">Speakers:</strong><ul class=" s_lv_1 "><li>Earpiece, Stereo speakers</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4" id="cellular_cPoint"><h2 class="htitle">Cellular</h2><ul><li class="s_lv_1 field-5"><strong class=" s_lv_1 ">GSM:</strong><ul class=" s_lv_1 "><li class="hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a>850, 900, 1800, 1900 MHz</li></ul>
      </li><li class="s_lv_1 field-193"><strong class=" s_lv_1 ">UMTS:</strong><ul class=" s_lv_1 "><li>850, 900, 1700/2100, 1900, 2100 MHz</li></ul>
      </li><li class="s_lv_1 field-454"><strong class=" s_lv_1 ">LTE (FDD):</strong><ul class=" s_lv_1 "><li class="hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a>Bands 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 29, 30</li></ul>
      </li><li class="s_lv_1 field-546"><strong class=" s_lv_1 ">LTE (TDD):</strong><ul class=" s_lv_1 "><li class="hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a>Bands 38, 39, 40, 41</li></ul>
      </li><li class="s_lv_1 field-84"><strong class=" s_lv_1 ">Data:</strong><ul class=" s_lv_1 "><li class="hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a><span title="Fast Data Speed" class="s_data_rating s_data_rating_s1 s_mr_5"><span></span></span>LTE-A Cat 12 (600/100 Mbit/s), HSDPA+ (4G) 42.2 Mbit/s, HSUPA 5.76 Mbit/s</li></ul>
      </li><li class="s_lv_1 field-519"><strong class=" s_lv_1 ">Nano SIM:</strong><ul class=" s_lv_1 "><li>Yes</li></ul>
      </li><li class="s_lv_1 field-554"><strong class=" s_lv_1 ">VoLTE:</strong><ul class=" s_lv_1 "><li>Yes</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4"><h2 class="htitle">Phone features</h2><ul><li class="s_lv_1 field-453"><strong class=" s_lv_1 ">Sensors:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li>Accelerometer, Gyroscope, Compass, Barometer</li></ul>
        </li>
      </ul></li><li class="s_lv_1 field-497"><strong class=" s_lv_1 ">Notifications:</strong><ul class=" s_lv_1 "><li>Haptic feedback, Music ringtones (MP3), Polyphonic ringtones, Vibration, Flight mode, Silent mode, Speakerphone</li></ul>
      </li><li class="s_lv_1 field-289"><strong class=" s_lv_1 ">Hearing aid compatibility:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li>T4</li></ul>
        </li>
      </ul></li><li class="s_lv_1 field-498"><strong class=" s_lv_1 ">Other features:</strong><ul class=" s_lv_1 "><li>Voice dialing, Voice commands, Voice recording</li></ul>
      </li></ul>
      </div><div class="s_mb_15 " style="min-height: 250px"><span class="s_f_10 gray_9">specifications continue after the ad</span><!-- ADS --><div class="ad_300_250"><!-- /124260794/0.phonearena.com_d-ros_300x250_Our_Own_2_to_NS -->
        <div id="div-gpt-ad-1479890560301-0" style="height:250px; width:300px;" adonis-marker=""><div id="google_ads_iframe_/124260794/0.phonearena.com_d-ros_300x250_Our_Own_2_to_NS_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/124260794/0.phonearena.com_d-ros_300x250_Our_Own_2_to_NS_0" title="3rd party ad content" name="google_ads_iframe_/124260794/0.phonearena.com_d-ros_300x250_Our_Own_2_to_NS_0" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;"></iframe></div></div></div><!-- END ADS --></div><div class="s_specs_box s_box_4" id="connectivity_cPoint"><h2 class="htitle">Connectivity</h2><ul><li class="s_lv_1 field-33"><strong class=" s_lv_1 ">Bluetooth:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li>4.2</li></ul>
        </li>
      </ul></li><li class="s_lv_1 field-206"><strong class=" s_lv_1 ">Wi-Fi:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li>802.11 a, b, g, n, ac, dual-band</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Mobile hotspot:</strong><ul class=" s_lv_2 "><li>Yes</li></ul>
      </li>
      </ul></li><li class="s_lv_1 field-264"><strong class=" s_lv_1 ">USB:</strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  "><ul class=" s_lv_2 "><li>Yes</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Connector:</strong><ul class=" s_lv_2 "><li>Proprietary</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Features:</strong><ul class=" s_lv_2 "><li>Mass storage device, USB charging</li></ul>
      </li>
      </ul></li><li class="s_lv_1 field-569"><strong class=" s_lv_1 ">Mobile Payment:</strong><ul class=" s_lv_1 "><li>Apple Pay</li></ul>
      </li><li class="s_lv_1 field-397"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Positioning:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Positioning</b> - This field shows the positioning systems supported by the device. The most common types are GPS and A-GPS.

GPS - This is one of the most widespread global positioning technologies, developed and maintained by the U.S. government. It uses satellites in order to detect your location. Works best in clear weather.

A-GPS - A-GPS stands for Assisted GPS and is the industry standard for positioning and navigation. “Assisted” means that it can use local wireless networks, in addition to satellites, for quicker and more precise localization.</p></span></strong><ul class=" s_lv_1 "><li>GPS, A-GPS, Glonass, Cell ID, Wi-Fi positioning</li></ul>
      </li><li class="s_lv_1 field-398"><strong class=" s_lv_1 ">Navigation:</strong><ul class=" s_lv_1 "><li>Turn-by-turn navigation, Voice navigation</li></ul>
      </li><li class="s_lv_1 field-496"><strong class=" s_lv_1 ">Other:</strong><ul class=" s_lv_1 "><li>NFC, UMA (Wi-Fi Calling), Tethering, Computer sync, OTA sync</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4"><h2 class="htitle">Availability</h2><ul><li class="s_lv_1 field-470"><strong class=" s_lv_1 ">Officially announced:</strong><ul class=" s_lv_1 "><li>07 Sep 2016</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4"><h2 class="htitle">Shopping information</h2><ul><li class="s_lv_1 field-450"><strong class=" s_lv_1 ">MSRP price:</strong><ul class=" s_lv_1 "><li class="hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a>$ 849</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4"><h2 class="htitle">Regulatory Approval</h2><ul><li class="s_lv_1 field-59"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">FCC approval:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>FCC approval</b> - The Federal Communications Commission (FCC) is an independent United States government agency, directly responsible to Congress. The FCC was established by the Communications Act of 1934 and is charged with regulating interstate and international communications by radio, television, wire, satellite and cable. The FCC's jurisdiction covers the 50 states, the District of Columbia, and U.S. possessions. Every wireless phone device that is sold in the U.S. has to be tested and approved for sale by the FCC.</p></span></strong><ul class=" s_lv_1 ">
        <li class="s_lv_2  clear clearfix hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a><strong class=" s_lv_2 "><span class="s_tooltip_anchor">Date approved:</span>
          <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Date approved</b> - Shows the date when the particular phone is approved by the Federal Communications Commission</p></span></strong><ul class=" s_lv_2 "><li>07 Sep 2016</li></ul>
        </li><li class="s_lv_2  clear clearfix hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a><ul class=" s_lv_2 "><li><span class="s_tooltip_anchor">FCC ID value:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>FCC ID value</b> - Shows the FCC Identifying value of the particular phone</p></span> BCG-E3091A  <a href="https://apps.fcc.gov/oetcf/eas/reports/ViewExhibitReport.cfm?mode=Exhibits&amp;RequestTimeout=500&amp;calledFromFrame=N&amp;application_id=ug8oCo8CRoUgg76Hrcemjg%3D%3D&amp;fcc_id=BCG-E3091A" target="_blank" title="https://apps.fcc.gov/oetcf/eas/reports/ViewExhibitReport.cfm?mode=Exhibits&amp;RequestTimeout=500&amp;calledFromFrame=N&amp;application_id=ug8oCo8CRoUgg76Hrcemjg%3D%3D&amp;fcc_id=BCG-E3091A">link</a></li></ul>
      </li>
      </ul></li><li class="s_lv_1 field-215"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">FCC measured SAR:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>FCC measured SAR</b> - Working closely with federal health and safety agencies, such as the Food and Drug Administration (FDA), the FCC has adopted limits for safe exposure to radiofrequency (RF) energy. These limits are given in terms of a unit referred to as the Specific Absorption Rate (SAR), which is a measure of the amount of radio frequency energy absorbed by the body when using a mobile phone. The FCC requires cell phone manufacturers to ensure that their phones comply with these objective limits for safe exposure. Any cell phone at or below these SAR levels (that is, any phone legally sold in the U.S.) is a "safe" phone, as measured by these standards. The FCC limit for public exposure from cellular telephones is an SAR level of 1.6 watts per kilogram (1.6 W/kg).</p></span></strong><ul class=" s_lv_1 ">
        <li class="s_lv_2  clear clearfix hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a><strong class=" s_lv_2 ">Head:</strong><ul class=" s_lv_2 "><li>1.19 W/kg</li></ul>
        </li><li class="s_lv_2  clear clearfix hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a><strong class=" s_lv_2 ">Body:</strong><ul class=" s_lv_2 "><li>1.09 W/kg</li></ul>
      </li><li class="s_lv_2  clear clearfix hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a><strong class=" s_lv_2 ">Simultaneous Transmission:</strong><ul class=" s_lv_2 "><li>1.56 W/kg</li></ul>
      </li><li class="s_lv_2  clear clearfix hasVariant"><a href="javascript:;" title="Variants available" onclick="$.scrollToElement($('#allvariants'), 300);" class="floatright specspop tooltip variantspecs">[+]</a><strong class=" s_lv_2 ">Wireless Router:</strong><ul class=" s_lv_2 "><li>1.14 W/kg</li></ul>
      </li>
      </ul></li></ul>
      </div></div>

      <span class="clear"></span>

    </div> <!-- phone_specificatons -->
    <span class="clear"></span>

    <p class="s_mb_20 fullspecs"><a class="" href="/phones/Apple-iPhone-7_id9815/fullspecs">To see the full specifications with in-depth details click here.</a>
    </p>

    <p class="smallvars">

      <em class="gray_9">This device is also known as</em>
      <strong>Apple  A1778</strong>,                                                                                 <strong>Apple  A1660</strong>

    </p><br>

    <h2 class="htitle" id="allvariants">Alternative variants</h2>
    <p class="s_pb_10">
      <span class="gray_9 s_f_12">We list only the specs that are different than the main variant</span><br>
    </p>
    <div class="variants" id="variants_cPoint">

      <div>
        <h3 class="h-title">
          Apple iPhone 7 32GB                                                                    </h3>


        <h3 class="vardiffs">Differences from the main variant:</h3><div class=" clear specs-holder"><div class="s_specs_box s_box_4" id="hardware_cPoint"><ul><li class="s_lv_1 field-204"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Built-in storage:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Built-in storage</b> - Bigger storage capacity allows you to keep more content saved onto your device, such as more applications, photos or video. Games and video content typically take up the biggest amount of storage space.</p></span></strong><ul class=" s_lv_1 "><li>32 GB</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4"><ul><li class="s_lv_1 field-450"><strong class=" s_lv_1 ">MSRP price:</strong><ul class=" s_lv_1 "><li>$ 649</li></ul>
      </li></ul>
      </div></div><div class="clear differs"></div>
        <span class="clear"></span>
      </div>

      <div>
        <h3 class="h-title">
          Apple iPhone 7 128GB                                                                    </h3>


        <h3 class="vardiffs">Differences from the main variant:</h3><div class=" clear specs-holder"><div class="s_specs_box s_box_4" id="hardware_cPoint"><ul><li class="s_lv_1 field-204"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">Built-in storage:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Built-in storage</b> - Bigger storage capacity allows you to keep more content saved onto your device, such as more applications, photos or video. Games and video content typically take up the biggest amount of storage space.</p></span></strong><ul class=" s_lv_1 "><li>128 GB</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4"><ul><li class="s_lv_1 field-450"><strong class=" s_lv_1 ">MSRP price:</strong><ul class=" s_lv_1 "><li>$ 749</li></ul>
      </li></ul>
      </div></div><div class="clear differs"></div>
        <span class="clear"></span>
      </div>

      <div>
        <h3 class="h-title">
          Apple iPhone 7 A1660                                                                            <span class="variant-comment">(for Sprint, Boost Mobile and MetroPCS)</span>
        </h3>


        <h3 class="vardiffs">Differences from the main variant:</h3><div class=" clear specs-holder"><div class="s_specs_box s_box_4" id="cellular_cPoint"><ul><li class="s_lv_1 field-37"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">CDMA:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>CDMA</b> - Code Division Multiple Access. A technique of multiplexing, also called spread spectrum, in which analog signals are converted into digital form for transmission. For each communication channel, the signals are encoded in a sequence known to the transmitter and the receiver for that channel. The foremost application is digital cellular phone technology from QUALCOMM that operates in the 800MHz band and 1.9GHz PCS band. CDMA phones are noted for their excellent call quality and long battery life.</p></span></strong><ul class=" s_lv_1 "><li>800, 1700/2100, 1900 MHz</li></ul>
      </li><li class="s_lv_1 field-5"><strong class=" s_lv_1 ">GSM:</strong><ul class=" s_lv_1 "><li>850, 900, 1800, 1900 MHz</li></ul>
      </li><li class="s_lv_1 field-454"><strong class=" s_lv_1 ">LTE (FDD):</strong><ul class=" s_lv_1 "><li>Bands 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 29, 30</li></ul>
      </li><li class="s_lv_1 field-546"><strong class=" s_lv_1 ">LTE (TDD):</strong><ul class=" s_lv_1 "><li>Bands 38, 39, 40, 41</li></ul>
      </li><li class="s_lv_1 field-84"><strong class=" s_lv_1 ">Data:</strong><ul class=" s_lv_1 "><li><span title="Fast Data Speed" class="s_data_rating s_data_rating_s1 s_mr_5"><span></span></span>LTE-A, HSPA</li></ul>
      </li></ul>
      </div><div class="s_specs_box s_box_4"><ul><li class="s_lv_1 field-59"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">FCC approval:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>FCC approval</b> - The Federal Communications Commission (FCC) is an independent United States government agency, directly responsible to Congress. The FCC was established by the Communications Act of 1934 and is charged with regulating interstate and international communications by radio, television, wire, satellite and cable. The FCC's jurisdiction covers the 50 states, the District of Columbia, and U.S. possessions. Every wireless phone device that is sold in the U.S. has to be tested and approved for sale by the FCC.</p></span></strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 "><span class="s_tooltip_anchor">Date approved:</span>
          <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>Date approved</b> - Shows the date when the particular phone is approved by the Federal Communications Commission</p></span></strong><ul class=" s_lv_2 "><li>07 Sep 2016</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><ul class=" s_lv_2 "><li><span class="s_tooltip_anchor">FCC ID value:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>FCC ID value</b> - Shows the FCC Identifying value of the particular phone</p></span> BCG-E3088A  <a href="https://apps.fcc.gov/oetcf/eas/reports/ViewExhibitReport.cfm?mode=Exhibits&amp;RequestTimeout=500&amp;calledFromFrame=N&amp;application_id=HPcfA17gq6d%2FQtwGac5Hng%3D%3D&amp;fcc_id=BCG-E3088A" target="_blank" title="https://apps.fcc.gov/oetcf/eas/reports/ViewExhibitReport.cfm?mode=Exhibits&amp;RequestTimeout=500&amp;calledFromFrame=N&amp;application_id=HPcfA17gq6d%2FQtwGac5Hng%3D%3D&amp;fcc_id=BCG-E3088A">link</a></li></ul>
      </li>
      </ul></li><li class="s_lv_1 field-215"><strong class=" s_lv_1 "><span class="s_tooltip_anchor">FCC measured SAR:</span>
        <span class="s_tooltip_content"><p class="s_help_disabled_icon"><b>FCC measured SAR</b> - Working closely with federal health and safety agencies, such as the Food and Drug Administration (FDA), the FCC has adopted limits for safe exposure to radiofrequency (RF) energy. These limits are given in terms of a unit referred to as the Specific Absorption Rate (SAR), which is a measure of the amount of radio frequency energy absorbed by the body when using a mobile phone. The FCC requires cell phone manufacturers to ensure that their phones comply with these objective limits for safe exposure. Any cell phone at or below these SAR levels (that is, any phone legally sold in the U.S.) is a "safe" phone, as measured by these standards. The FCC limit for public exposure from cellular telephones is an SAR level of 1.6 watts per kilogram (1.6 W/kg).</p></span></strong><ul class=" s_lv_1 ">
        <li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Head:</strong><ul class=" s_lv_2 "><li>1.05 W/kg</li></ul>
        </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Body:</strong><ul class=" s_lv_2 "><li>1.12 W/kg</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Simultaneous Transmission:</strong><ul class=" s_lv_2 "><li>1.51 W/kg</li></ul>
      </li><li class=" s_lv_2  clear clearfix"><strong class=" s_lv_2 ">Wireless Router:</strong><ul class=" s_lv_2 "><li>1.12 W/kg</li></ul>
      </li>
      </ul></li></ul>
      </div></div><div class="clear differs"></div>
        <span class="clear"></span>
      </div>
    </div>

    <div id="disclamer"><p class="s_specs_disclamer">Despite our efforts to provide full and correct Apple iPhone 7 specifications, there is always a possibility of making a mistake. If you see any wrong or incomplete data, please <a href="/contacts/subject/Apple iPhone 7 specification problem"><strong class="uppercase">LET US KNOW</strong></a>.</p>
    </div>
  </div> <!-- rightspecscol -->

  <div class="clearfix"></div>
</div>
