<div id="search_results" class="s_box_3">
  <form action="/search" class="s_form" onsubmit="doSrch(this); return false;">
    <input type="hidden" name="ss" id="ss" value="">
    <input type="hidden" name="sort" value="">
    <input class="left s_w_350 s_mr_10 s_text" type="text" name="term" value="iPhone 7">
    <span class="s_button_2 s_button_2_blue s_w_70"><button type="submit" class="s_w_70">Search</button></span>
  </form>
  <h2>Search results</h2>

  <div class="s_sub clearfix">
    <ul class="s_filter_1 s_mb_5">
      <li class="s_label">Show:</li>
      <li class="selected"><a href="/search?term=iPhone 7">All</a></li>
      <li><a href="/search/section/new-phones?term=iPhone 7">Phones</a></li>
      <li><a href="/search/section/reviews?term=iPhone 7">Reviews</a></li>
      <li><a href="/search/section/news?term=iPhone 7">News</a></li>

    </ul>


    <ul class="s_filter_1">
      <li class="s_label">Sort:</li>
      <li class="selected"><a href="/search/sort/relevance?term=iPhone 7">Relevance</a></li>
      <li><a href="/search/sort/date?term=iPhone 7">Date</a></li>
    </ul>

  </div>

  <div id="phones">
    <p class="s_mb_5 clearfix"><span>Phones</span></p>

    <span class="clear"></span>
    <div class="s_listing">


      <div class="s_block_4 s_block_4_s115  s_fst  clearfix"><div class="quicklookdiv" style="display: none;"><a href="/phones/Apple-iPhone-7-Plus_id9816"><div class="quicklookdiv nolinks">
        <div class="bottom-line">
          <div class="specsicons display" data-scroll-to="#display_cPoint">5.5"<br><span>1080 x 1920 pixels</span></div>
          <div class="specsicons camera" data-scroll-to="#camera_cPoint">
            12 MP<br>
            <span>7 MP front</span>            </div>
          <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Apple A10 Fusion<br>
            <span>Quad-core, 2340 MHz</span>
          </div>
          <div class="clearfix"></div></div>
        <div class="morespecs">
          <span data-scroll-to="#hardware_cPoint">RAM: <span>3 GB</span></span><br>

          <span data-scroll-to="#hardware_cPoint">MEMORY: <span>256 GB</span></span><br>

          <span data-scroll-to="#battery_cPoint">BATTERY: <span>2900 mAh</span>
            <span>(21h 3G talk time)</span>            </span>

        </div>

        <div class="clearfix"></div>
      </div></a></div><a class="s_thumb" href="/phones/Apple-iPhone-7-Plus_id9816"><img src="https://i-cdn.phonearena.com/images/phones/63238-specs/Apple-iPhone-7-Plus.jpg" alt="Apple iPhone 7 Plus" widht="150" height="150"></a><h3><span class="rate-box topgreen"><a href="/reviews/Apple-iPhone-7-Plus-Review_id4258"><strong>9.3</strong></a></span><a href="/phones/Apple-iPhone-7-Plus_id9816">Apple iPhone 7 Plus</a></h3></div>



      <div class="s_block_4 s_block_4_s115    clearfix"><div class="quicklookdiv" style="display: none;"><a href="/phones/Apple-iPhone-7_id9815"><div class="quicklookdiv nolinks">
        <div class="bottom-line">
          <div class="specsicons display" data-scroll-to="#display_cPoint">4.7"<br><span>750 x 1334 pixels</span></div>
          <div class="specsicons camera" data-scroll-to="#camera_cPoint">
            12 MP<br>
            <span>7 MP front</span>            </div>
          <div class="specsicons cpu" data-scroll-to="#hardware_cPoint">Apple A10 Fusion<br>
            <span>Quad-core, 2340 MHz</span>
          </div>
          <div class="clearfix"></div></div>
        <div class="morespecs">
          <span data-scroll-to="#hardware_cPoint">RAM: <span>2 GB</span></span><br>

          <span data-scroll-to="#hardware_cPoint">MEMORY: <span>256 GB</span></span><br>

          <span data-scroll-to="#battery_cPoint">BATTERY: <span>1960 mAh</span>
            <span>(14h 3G talk time)</span>            </span>

        </div>

        <div class="clearfix"></div>
      </div></a></div><a class="s_thumb" href="/phones/Apple-iPhone-7_id9815"><img src="https://i-cdn.phonearena.com/images/phones/63258-specs/Apple-iPhone-7.jpg" alt="Apple iPhone 7" widht="150" height="150"></a><h3><span class="rate-box topgreen"><a href="/reviews/Apple-iPhone-7-Review_id4257"><strong>9.3</strong></a></span><a href="/phones/Apple-iPhone-7_id9815">Apple iPhone 7</a></h3></div>


  </div>

</div>
