.container
  .row.mt-4
    .col.col-sm-6.offset-sm-3
      = form_tag search_path, method: :get, id: 'search-form'
        .form-group
          .input-group
            = text_field_tag 'phrase', nil, class: 'form-control'
            .input-group-append
              = button_tag 'Search', class: 'btn btn-primary'
        .form-group.text-center
          - Search::Initiator::SITES.each_pair do |key, value|
            .form-check.form-check-inline
              = radio_button_tag 'engine', key, checked: true, id: "engine-#{key}", class: 'form-check-input'
              = label_tag "engine-#{key}", value, class: 'form-check-label ml-1'
  .row
    .col.col-sm-8.offset-sm-2
      #progress.progress.d-none
        .progress-bar.progress-bar-striped.progress-bar-animated role='progressbar' style='width: 100%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100'
      #result.text-center
