doctype html
html
  head
    title SmTest
    meta name='viewport' content='width=device-width, initial-scale=1'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  body
    = yield
